.grid {
    display: flex;
}

.grid-jus-center {
    justify-content: center;
}

.grid-jus-start {
    justify-content: flex-start;
}

.grid-jus-end {
    justify-content: flex-end;
}

.grid-jus-around {
    justify-content: space-around;
}

.grid-jus-between {
    justify-content: space-between;
}

.grid-al-center {
    align-items: center;
}

.grid-al-start {
    align-items: flex-start;
}

.grid-al-end {
    align-items: flex-end;
}

.grid-dir-column {
    flex-direction: column;
}

.grid-wrap {
    flex-wrap: wrap;
}

.grid>.grid-cell {
    flex-grow: 1;
}

.gold {
    color: #e3cb8e;
}

.light-blue {
    color: #27d1f5;
}

.text-pink {
    color: #d649ff;
}

.white {
    color: white;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-20{
    margin-top: 20px;
}

.mt-60{
    margin-top: 60px;
}

.ml-15{
    margin-left: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.w300 {
    width: 300px;
}

.wp20 {
    width: 20%;
}

.wp58 {
    width: 58%;
}

.wp80 {
    width: 80%;
}

.wp100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.ft-22 {
    font-size: 22px;
}