


/* SEED PAGE */
main .seed-wrapper .container{
    background-color: rgba(67,28,216,0.4);
}
main .seed-wrapper{
    background: linear-gradient(#431dd8, #3152eb);
    color: white;
}
main .seed-wrapper .content{
    padding: 40px;
}
main .seed-wrapper .content .timer{
    position: inherit;
    width: auto;
}
main .seed-wrapper .content .timer .wrapper{
    background-color: transparent;
    padding-left: 0;
    margin-left: -20px;
}
main .seed-wrapper .content .timer .wrapper .title{
    font-size: 23px;
}
main .seed-wrapper .content .timer .wrapper .num{
    font-size: 50px;
    margin: 0 20px;
    margin-bottom: 10px;
    color: white;
}
main .seed-wrapper .content .timer .wrapper .dot{
    font-size: 50px;
    color: white;
}
main .seed-wrapper .content .timer .wrapper .item{
    font-size: 20px;
    color: rgba(255,255,255,0.4);
}
main .seed-wrapper .content .accept{
    font-size: 23px;
    color: rgba(255,255,255,0.4);
    margin-bottom: 20px;
}
main .seed-wrapper .content .accept .text{
    margin-right: 25px;
}
main .seed-wrapper .content .accept .accept-icon{
    margin: 0 5px;
    border: 2px solid #e3cb8e;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
}
main .seed-wrapper .content .cover{
    text-align: center;
}
main .seed-wrapper .content .cover img{
    width: 100%;
}
.policies .main-content{
    padding: 20px 0px;
}
.seed-wrapper .timer .content{
    padding: 0;
}
.progress {
    padding-bottom: 20px;
}

#main-timer{
    display: none;
}


.progress-wrapper{
    padding-top: 70px; 
    position: relative;
}
.progress-wrapper .progress-content{
    width: 100%;
}
.progress-wrapper .progress{
    height: 30px;
    border: 1px solid white;
    margin-top: 5px;
    background-color: rgba(141,23,233,0.9);
    width: 100%;
    position: relative;
}
.progress-wrapper .progress .percent{
    height: 28px;
    background-color: rgb(81,11,229);
    position: absolute;
}
.progress-wrapper .progress .lines{
    position: absolute;
    height: 28px;
    width: 100%;
}
.progress-wrapper .progress .lines>div{
    border: 1px solid white;
    height: 100%;
    width: 100%;
}
.progress-wrapper .pointer{
    /* width: 80px; */
    height: 50px;
    background-color: rgb(123,105,184);
    position: absolute;
    top: 28px;
    display: inline-block;
    width: 150px;
}
.progress-wrapper .pointer .num{
    font-size: 28px;
    padding: 10px;
    position: relative;
    z-index: 2;
    text-align: center;
}
.progress-wrapper .pointer .arrow{
    width: 40px;
    height: 40px;
    background-color: rgb(123,105,184);  
    position: absolute;
    top: 18px;
    transform: rotate(45deg);
    left: calc(50% - 20px);  
    z-index: 1;
}