@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --gray: #616B82;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background: -webkit-linear-gradient(left, rgba(178,135,237,0.9), rgba(222,208,249,0.9), rgba(178,135,237,0.9));
    padding: 35px 30px 20px 30px;
    border-bottom: 6px solid #B186ED;
    position: fixed;
    width: 100%;
    /* height: 120px; */
    top: 0;
    z-index: 10;
}

header .logo .img {
    width: 130px;
    height: 50px;
    background-image: url(../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
header  .logo .text{
    color: white;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    left: -22px;
}

header .menu {
    /* max-width: 1174px; */
    flex-grow: 1;
}

header .menu li {
    list-style-type: none;
    margin: 0 15px;
}

header .menu li a::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 5px;
    background-color: #ab39c4;
    vertical-align: middle;
    transform: rotateY(50)
}

header .menu li a {
    text-decoration: none;
    font-size: 12px;
    color: #3f4e9c;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.9;
    transition: 0.2s;
    padding: 4px 0;
}

.menu li:hover {
    border-bottom: 3px solid #ab39c4;
}

header .menu li.active {
    border-bottom: 3px solid #ab39c4;
}

header .but a {
    padding: 4px 5px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 700;
}

.white-bordered a {
    color: white;
    border: 1px solid white;
}
.sign a{
    color: white;
    font-size: 13px;
}
.sign{
    margin: 0 5px;
}
.sign-up{
    background-color: rgb(144,61,169);
    padding: 5px 3px;
}
.whitepaper a {
    margin-right: 30px;
    padding: 3px 10px !important;
    text-transform: uppercase;
    font-size: 12px;
}

.white-bordered a:hover {
    box-shadow: 1px 1px 7px 2px rgba(255, 255, 255, 0.4);
}

header .lang select {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    border-left: 1px solid white;
    padding-left: 5px;
    margin-left: 30px;
}

header .lang select option {
    color: black;
}

main {
    margin-top: 110px;
    background: linear-gradient(#5927d1, #3b45ee, #5927d1);
    min-height: 100vh;
}

main .canc {
    background-image: url(../assets/images/canc.png);
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100% auto;
}

.main-cover {
    background: linear-gradient(186deg, rgba(155, 36, 226, 0.9) 15%, rgba(155, 36, 226, 0.5) 28%, rgba(155, 36, 226, 0));
}

main .main-cover .home {
    background-image: url(../assets/images/home.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.container {
    height: 100%;
    width: 1174px;
    margin: 0 auto;
    padding: 40px 0;
}

.divider {
    width: 100%;
    border-top: 1px solid white;
}

main .main-cover .container {
    background-color: rgba(255, 255, 255, 0.20);
    padding-top: 40px;
    padding-bottom: 0;
    height: 60vw;
}

main .main-cover .container .cover-text .text {
    color: white;
    font-size: 19px;
    margin-right: 35px;
}

main .main-cover .container .cover-text .text p {
    margin: 5px 0;
}

main .main-cover .container .cover-text .text .blue {
    color: #3c5a96;
}

main .main-cover .cover-footer{
    padding: 70px 40px;
}
main .main-cover .cover-footer .link {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid white;
    margin: 0 20px;
}
main .main-cover .cover-footer .presentation{
    color: rgb(31,215,246);
}
main .main-cover .cover-footer .presentation:hover{
    background-color: rgba(6,96,252, 0.6);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
    color: white;
}

main .main-cover .cover-footer .link img {
    width: 28px;
    margin: 0 10px;
}
main .main-cover .cover-footer .link .right{
    font-size: 20px;
    margin-right: 10px;
}

main .container {
    background-color: rgba(3, 71, 209, 0.25);
}

main .head .title {

    padding: 0 30px;
    /* white-space: nowrap; */
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 4px #27d1f5;
}

main .membership-container .head .line {
    width: 100%;
    border-top: 1px solid #27d1f5;
}

.line {
    width: 100%;
    border-top: 1px solid white;
}

main .context {
    padding: 30px 0;
}

main .membership-container .context {
    padding: 30px 0 0 0;
}

main .membership-container .container {
    padding: 30px 0 0;
}

main .context .item {
    padding: 10px 0 10px 90px;
    margin: 10px 0;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

}

main .context .item:nth-child(even) {
    width: calc(100% - 90px);
    margin-left: 90px;
    padding-left: 0;
}

main .context .context-title {
    background-color: transparent;
    padding: 10px 0 10px 90px;
    margin: 10px 0;
    color: white;
    font-size: 18px;
}

main .context .sub-item {
    margin: 30px 90px;
    font-size: 15px;
    color: white;
}

main .footer {
    padding: 20px 0;
}

main .footer .airdrops-img {
    width: 300px;
    height: 100px;
    background-image: url(../assets/images/airdrops.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main .footer .airdrops-img:hover {
    background-image: url(../assets/images/airdrops_hover.png);
}

.timer {
    width: 380px;
    position: fixed;
    z-index: 10;
    top: calc(100vh / 6);
    right: 0;
    color: white;
    right: -344px;
    transition: 0.4s;
}
.timer-res{
    flex-grow: 1;
    width: 450px;
    height: 140px;
    background-color: rgba(255,255,255,0.8);
}
.hamburger{
    width: 100%;
}
.hamburger>div{
    margin: 5px;
    background-color: #8C33A0;
    height: 3px;
}
.timer:hover{
    right: 0;
}
.main-timer .timer .wrapper{
    box-shadow: 0px 0px 50px 10px rgb(173,59,232);
}

.timer .wrapper {
    background-color: rgba(0,0,0, 0.08);
    padding: 20px 30px;
}

.timer .footer {
    background-color: rgba(173,59,232,0.5);
    padding: 2px;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.timer .footer img {
    width: 30px;
    color: white;
}

.timer .title {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    color: 193, 203, 233;
}

.timer .wrapper .content {
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
}

.timer .wrapper .content .num {
    font-size: 40px;
    border-bottom: 1px solid white;
    margin-bottom: 6px;
    color: white;
    font-weight: 800;
    text-shadow: 0px 0px 5px rgb(173,59,232);
}

.timer .wrapper .content .dot {
    font-size: 40px;
    color: white;
    font-weight: 800;
}

.timer .wrapper .content .item {
    min-width: 50px;
    font-size: 12px;
}

.but-container {
    padding: 50px 0;
}

.but-container a {
    color: #DE46F9;
    text-decoration: none;
    border: 1px solid #DE46F9;
    padding: 10px 20px;
    font-size: 26px;
    box-shadow: 0px 0px 10px #DE46F9;
}

.but-container a:hover{
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
    background-color: #DE46F9;
}

hr.after-title {
    width: 400px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255, 255, 0), rgba(255,255, 255, 0.75), rgba(255,255, 255, 0));
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    animation-name: loadingg;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes loadingg{
    to{
        visibility: hidden;
    }
}

.loading-wrapper{
    width: 100vw;
    height: 100vh;
    
    background-color: rgb(103,33,212);
    animation-name: loadingWrapper;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
@keyframes loadingWrapper{
    to{
        opacity: 0;
    }
}
.loading-wrapper .canc{
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/canc.png);
}
.loading-wrapper .content img{
    animation-name: loadingContent;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    width: 900px;   
}
@keyframes loadingContent{
    to{
        width: 150px;
        transform: translate(-46vw, -46vh);
        opacity: 0;
    }
}
/* ::-webkit-scrollbar{
    display: none;
} */







/* @media(max-width: 1500px){
    
    header .lang{
        margin-top: 15px;
    }
    header .menu{
        margin-top: 15px;
    }
} */